*{
    margin:0 ;
    padding: 0;
}

/* BODY */
body{
    background-image: url(../img/fondo.png);
    font-family: roboto;
    background-size: cover;
    height: 100vh;
}


/* HEADER */

header{
    text-align: center;
    font-size: 20px;
    color:rgb(167,7,75);
    background-color:rgba(236,155,164,0.5);
    position: absolute;
    margin: 0px 10px;
    width: 98%;
    height: 130px;

}

/* NAV */
.encabezado{
    width: 100%;
    background-color:rgb(161,70,126);
    height: auto;
    display: block;
    margin-top: 50px;
}


.lista{
    display:inline;
    width: 80%;   
    margin:0 auto;
    padding: 10px;
}

a {
    color:silver; 
    font-family: roboto; 
    text-decoration: none;
}
a:hover {
    color: rgb(248, 234, 107); 
    text-decoration: none;
}
.lista a:hover{
    font-family: arial
}

.lista li{
    list-style: none;
    display:inline-block;
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    width:220px;
    color:rgb(222,218,222);
}


.lista li .select{
    color:rgb(248, 234, 107);
}

/* INDEX */
.container{
    width: 320px;
    height: 490px;
    top: 60%;
    left: 50%;
    background-color: rgb(247,209,213,0.7);
    margin:40px auto;
    border-radius: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    text-align: center;


}

.container input[type="submit"]{
    border: none;
    outline: none;
    height: 55px;
    background:  rgb(191,129,158);
    color: #fff;
    font-size: 19px;
    border-radius: 20px;
    font-weight: bolder;
    margin-top: 20px;
    width: 200px;
}

/* .container2{
    width:80%;
    padding:20px;
    margin:0px auto;
} */

/* .autorizacion, .control, .informacion{
    width: 80%;
    margin:0 auto;
    padding:10px;
    background-color: rgb(191,129,158);
    text-align: center;
    color:white;
    font-weight:bolder;
    font-size:20px;
    border-radius: 10px;
} */

.container input[type="submit"]:hover {
    color: rgb(248, 234, 107);
    background-color:rgb(161,70,126);
    cursor: pointer;
}

/* .control{
    margin:20px auto;
}

.hora{
    margin:20px auto;
    color:black;
    font-weight:bolder;
    padding:10px;
}

#time{
    text-align: center;
    font-size:40px;
    margin:10px;
    background-color: rgb(224,194,205);
}

#fecha{
    text-align: center;
    font-size:25px;
    font-style: italic;
    color:black;
} */

/* CONTROL */

.volver{
    /* padding: 100px; */
}

.volver #logoautorizacion{
    display:block;
    margin:0 auto;
    width: 20%;
}
.volver #logocontrol{
    display:block;
    margin:0 auto;
    width: 40px;
}

/* CONTROL */
/* 
.contenedor_de_carta{
    width: 100%;
    height: auto;
    top: 60%;
    left: 50%;
    background-color: rgb(247,209,213,0.7);
    margin:40px auto;
    position: relative;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    text-align: center;
} */
.contenedor_de_carta{
height: 300px;
width: 160px;
}

/* .container_Cartas{
     width: 165px; 
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    background: blue;
  } */

.grid{
    display: flex;
    justify-content: space-evenly;
    height: auto;
    margin: auto;
    position: relative;
    top: 32%;
}

.center{
    position: relative;
    top: 45%;
}

  .container_Cartas .carta{
    width: 180px;
    height: 320px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px auto;
    text-align: center;
    transition: all 0.25s;
    position: relative;
    top: 14px;
    background: rgb(191,129,158,0.2);
  }

  .container_Cartas .carta:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  .container_Cartas .carta img {
    width: 150px;
    height: 150px;
    margin: 8px;
  }
  
  .container_Cartas .carta .nombre_1{
      font-size: 18px;
      background:  rgb(191,129,158);
      color: #fff;
      margin: 5px;
  }

  .container_Cartas .carta .hora_1{
      background: rgb(191,129,158);
      margin: 5px;
      padding: 0px 5px;
      font-size: 15px;
    }

.container_Cartas .carta .hora_2{
    background:rgb(30,106,57);
    color: #fff;
    margin: 5px;
    padding: 0px 5px;
    font-size: 15px;
}

.container_Cartas .carta .profesor_N{
    background:rgb(161,70,126);
    color: #fff;
    margin: 5px;
    padding: 0px 5px;
    font-size: 15px;
}

.container_Cartas .carta .incidencia_1{
    background: #000;
    color: #fff;
    margin: 5px;
    padding: 0px 5px;
    font-size: 15px;
}


  .container_Cartas .carta p{
    padding: 0 1rem;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
  }
  
  
  .container_Cartas .carta a {
    font-weight: 100;
    text-decoration: none;
    color: #3498db;
  }
  
  

/* .control_img {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 2fr 4fr 1fr 1fr 2fr 1fr;
    grid-gap: 10px;
}

.control_fondo1,.control_fondo2,.control_fondo3,.control_fondo4,.control_fondo5,.control_fondo6 {
    grid-row: 1/7;
    background-color: rgb(247,209,213,0.5);
    padding: 10px;
    margin:10px;
}
.control_fondo1{
    grid-column: 1/2;
}
.control_fondo2{
    grid-column: 2/3;
}
.control_fondo3{
    grid-column: 3/4;
}
.control_fondo4{
    grid-column: 4/5;
}
.control_fondo5{
    grid-column: 5/6;
}
.control_fondo6{
    grid-column: 6/7;
}

.control_name1,.control_name2,.control_name3,
.control_name4,.control_name5,.control_name6 {
    grid-row: 1/2;
    width: 100%;
    font-size: 26px;
    text-align: center;
    color:white;
    background-color: rgb(191,129,158);
    margin-bottom: 10px;
}
.control_name1{
    grid-column: 1/2;
}
.control_name2{
    grid-column: 2/3;
}
.control_name3{
    grid-column: 3/4;
}
.control_name4{
    grid-column: 4/5;
}
.control_name5{
    grid-column: 5/6;
}
.control_name6{
    grid-column: 6/7;
}

.foto1,.foto2,.foto3,.foto4,.foto5,.foto6{
    grid-row: 2/3;
    margin-bottom: 10px;
}
.foto1{
    grid-column: 1/2;
}
.foto2{
    grid-column: 2/3;
}
.foto3{
    grid-column: 3/4;
}
.foto4{
    grid-column: 4/5;
}
.foto5{
    grid-column: 5/6;
}
.foto6{
    grid-column: 6/7;
}

.time1,.time2,.time3,.time4,.time5,.time6{
    grid-row: 3/4;
    margin-bottom: 10px;
    width: 100%;
    font-size: 26px;
    text-align: center;
    color:black;
    background-color: rgb(221,194,205);
}
.time1{
    grid-column: 1/2;
}
.time2{
    grid-column: 2/3;
}
.time3{
    grid-column: 3/4;
}
.time4{
    grid-column: 4/5;
}
.time5{
    grid-column: 5/6;
}
.time6{
    grid-column: 6/7;
}
 
.contador1,.contador2,.contador3,.contador4,.contador5,.contador6{
    grid-row: 4/5;
    margin-bottom: 10px;
    width: 100%;
    font-size: 26px;
    text-align: center;
    color:white;
    background-color: rgb(30,106,57);
}
.contador1{
    grid-column: 1/2;
}
.contador2{
    grid-column: 2/3;
}
.contador3{
    grid-column: 3/4;
}
.contador4{
    grid-column: 4/5;
}
.contador5{
    grid-column: 5/6;
}
.contador6{
    grid-column: 6/7;
}

.profesor1,.profesor2,.profesor3,.profesor4,.profesor5,.profesor6{
    grid-row: 5/6;
    margin-bottom: 10px;
    width: 100%;
    font-size: 18px;
    text-align: center;
    color:white;
    background-color: rgb(161,70,126);
}
.profesor1{
    grid-column: 1/2;
}
.profesor2{
    grid-column: 2/3;
}
.contador3{
    grid-column: 3/4;
}
.profesor4{
    grid-column: 4/5;
}
.profesor5{
    grid-column: 5/6;
}
.profesor6{
    grid-column: 6/7;
}

.incidencia1,.incidencia2,.incidencia3,.incidencia4,.incidencia5,.incidencia6{
    grid-row: 6/7;
    margin-bottom: 10px;
    width: 100%;
    font-size: 18px;
    text-align: center;
    color:white;
    background-color: black;
}
.incidencia1{
    grid-column: 1/2;
}
.incidencia2{
    grid-column: 2/3;
}
.incidencia3{
    grid-column: 3/4;
}
.incidencia4{
    grid-column: 4/5;
}
.incidencia5{
    grid-column: 5/6;
}
.incidencia6{
    grid-column: 6/7;
} */

/* CONTACTO */

form{
    width: 265 px;
    margin: auto;
    background: rgba(161,70,126, 0.4);
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 7px;
    position: relative;
    bottom: 60px;
}

.titulo_Contacto{
    color:#fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 10px;
}

.input_contacto, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 15px;
    border: none;
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton{
    background: rgb(191,129,158);
    color: #fff;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
}

#boton:hover{
    color: rgb(248, 234, 107);
    background-color:rgb(161,70,126);
    cursor: pointer;
}

/* LITADO ALFABETICO */

.abcd{
    background-color:rgb(161,70,126, 0.4);
    margin: auto 10px;
    position: relative;
    top: 28%;
    height: auto;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.abcd:hover{
    background-color: rgb(161,70,126);
    padding: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.abcd .Lista_abcd li{
    display: inline;
    margin-left: 30px;
}

.abcd .Lista_abcd li a{
    color: #000;
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
}

.abcd .Lista_abcd li a:hover{
    font-size: 25px;
    color: rgb(248, 234, 107);
    cursor: pointer;
}


.espaciado{
    height: 200px;
}




/* FOOTER */


footer{
    background-color:rgb(224,194,205, 0.7);
    color:rgb(191,129,158);
    font-style: italic;   
    width: 100%;
    height: 10px;
    top: 110%;
    left: 50%;
    margin:40px auto;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 35px 20px;
}

footer div{
  text-align: center;
}


